* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

h1,
h2,
h3,
p,
blockquote {
    margin: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    color: #FCFCFC;
}

.rose {
    color: #F61067;
}

.clear {
    clear: both;
    display: none;
}

/*Hover style*/

.logo__link:hover,
.navbar__telephone:hover,
.navbar__burger:hover,
.arrow__text:hover,
.description__button:hover,
.slider-control__button button:hover,
.face:hover, .project-footer a:hover,
.envelope:hover, .telephone:hover {
    transition: .7s ease;
    opacity: .6;
}

/*project-header*/

.project-header {
    padding: 61px 0 126px 0;
    background: #30124e url("../img/background.png") no-repeat;
    background-size: cover;
}

.project-header a {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #FCFCFC;
}

.project-header .logo__link {
    font-size: 24px;
}

.wrap {
    width: 1173px;
    margin: 0 auto;
    display: table;
}

.navbar__logo,
.navbar__menu,
.navbar__telephone {
    float: left;
}

.logo__link {
    color: #FCFCFC;
    font-weight: 900;
    font-size: 24px;
    display: inline-block;
    margin-top: 4px;
}

.scroll {
    display: none;
    margin: 100px auto 0 auto;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.menu {
    margin: 11px 0 0 166px;
}

.mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #30124e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 61px;
}

.mobile-menu__content {
    margin: 20px auto 0 auto;
    width: 100%;
    border-top: 1px solid #fcfcfc;
}

.mobile-menu__content li:first-child {
    padding-top: 30px;
}

.mobile-menu__content li {
    display: block;
    padding-bottom: 30px;
}

.mobile-menu__content a {
    font-size: 20px;
}

.menu__item {
    padding-left: 54px;
}

.menu__item {
    vertical-align: top;
}

.menu__item a {
    padding-bottom: 3px;
    opacity: 0.8;
}

.menu__item:first-child {
    padding-left: 0;
}

.menu__items li:last-child {
    padding-left: 98px;
}

.menu__item a:hover, .menu__item a:active {
    border-bottom: 1px solid #FCFCFC;
    opacity: 1;
}

.navbar__telephone {
    background: url("../img/phone.svg") no-repeat 0 center;
    line-height: 35px;
    margin-top: -9px;
}

.navbar__telephone a {
    padding-left: 36px;
}

.burger {
    background: #FCFCFC;
    width: 27px;
    height: 2px;
    display: block;
    position: relative;
    float: right;
    margin-top: 19px;
    transition: all .2s ease-out;
    z-index: 50;
}

.burger:before,
.burger:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    background: #FCFCFC;
    cursor: pointer;
    transition: all .2s ease-out;
}

.burger.active {
    background: transparent;
    margin: 0;
}

.burger.active:before  {
    width: 27px;
    top: -7px;
    transform: rotate(-45deg);
}

.burger.active:after {
    width: 27px;
    top: -7px;
    transform: rotate(45deg);
}

.burger:before {
    width: 27px;
    top: -7px;
}

.burger:after {
    width: 18px;
    top: 7px;
    right: 0;
}


/*Hero*/

.hero__description {
    margin-top: 158px;
    float: left;
}

.hero__description p {
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}

.hero__description h1 {
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    margin-top: 28px;
}

.hero__description .rose {
    display: block;
}

.hero__scroll {
    float: right;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 13px;
    background: url("../img/scroll.svg") no-repeat center bottom;
    line-height: 26px;
    margin-top: 143px;
    cursor: default;
}

.hero__scroll p {
    writing-mode: tb-rl;
    margin-bottom: 90px;
}

/*Arrow*/

.arrow {
    padding: 30px 39px 30px 148px;
    width: 833px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 9px;
}

.arrow__text {
    background: url("../img/arrow.svg") no-repeat right center;
    line-height: 47px;
    cursor: pointer;
}

.arrow__text a {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
}

/*Intro*/

.intro {
    padding: 182px 0 135px 0;
    background-color: #FCFCFC;
    position: relative;
}


.intro__description {
    color: #30233D;
}

.description {
    max-width: 460px;
    float: left;
}

.description__header {
    background: none;
    padding: 0;
}

.description__header h3 {
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.description__header h2 {
    font-weight: 500;
    font-size: 45px;
    margin-top: 28px;
}

.description__header p {
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    margin-top: 33px;
}

.description__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #776C82;
    margin-top: 36px;
}

.description__button {
    width: 197px;
    height: 45px;
    background-color: #F61067;
    border-radius: 36px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FCFCFC;
    letter-spacing: 2px;
    margin-top: 54px;
}

/*Photocard*/

.photocard {
    float: right;
    position: relative;
    z-index: 3;
    margin-top: -73px;
}

.photocard__card {
    width: 361px;
    padding: 93px 65px 101px 57px;
    background-color: #30124E;
    position: relative;
    z-index: 2;
}

.photocard__card p {
    font-family: 'Noticia Text', serif;
    font-size: 23px;
    line-height: 40px;
    max-width: 255px;
    margin: 57px 0;
}

.photocard__card img {
    margin-left: 68px;
}

.photocard__card:before {
    content: '';
    width: 65px;
    height: 36px;
    position: absolute;
    left: -62px;
    top: 0;
    background-color: #30124E;
}

.photocard__photo {
    position: absolute;
    top: 36px;
    right: 217px;
}

/*Shaping*/

.shaping {
    background: linear-gradient(90deg, #30124E 65%, #fcfcfc 35%);
    padding: 144px 0 190px 0;
    position: relative;
}

.shaping .wrap {
    position: relative;
}

.shaping__description {
    color: #FCFCFC;
}

.description__text-collection {
    margin-top: 71px;
}

.shaping__description .description__text {
    color: #FCFCFC;
    margin-top: 31px;
}

.shaping__description .description__text:first-child {
    margin-top: 0;
}

.shaping__description .description__button {
    margin-top: 49px;
}

.shaping__right {
    position: absolute;
    right: 116px;
    bottom: 0;
}

.shaping__right img {
    float: left;
}

.shaping__apps {
    float: right;
    width: 68px;
    margin-left: 30px;
}

.shaping__apps p {
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #5E239D;
    writing-mode: tb-rl;
    cursor: default;
    margin-left: 30px
}

.slider-control {
    background-color: #150433;
    height: 202px;
    float: right;
    width: 36%;
    padding: 42px 0 0 44px;
}

.slider-control__button {
    display: inline-block;
    margin-left: 43px;
    float: left;
}

.slider-control__number {
    font-weight: 800;
    font-size: 13px;
    color: #F4F4ED;
    float: left;
    margin-top: 8px;
}

/*Services*/

.services {
    background-color: #150433;
    padding: 126px 0 261px 0;
}

.services .wrap {
    margin-top: 74px;
}

.services__description {
    width: 100%;
    float: none;
}

.services__description .description__header {
    text-align: center;
    margin: 0 auto;
    max-width: 558px;
}

.services__description .description__button {
    margin-top: 78px;
}

.webdesign h3 {
    color: #00F0B5;
}

.webdev h3 {
    color: #F61067;
}

.marketing h3 {
    color: #F67110;
}

.description__item {
    max-width: 318px;
    float: left;
    margin: 0 75px 0 0;
}

.description__item h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 13px;
}

.description__item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-top: 27px;
}

.description__item:nth-child(3n) {
    margin: 0;
}

.description__item:nth-child(n+4) {
    margin-top: 60px;
}

.description__button-wrap {
    width: 100%;
    text-align: center;
}

/*Peoples*/

.peoples {
    padding-bottom: 136px;
}

.peoples .wrap {
    position: relative;
}
.peoples__arrow {
    border-radius: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
}

.peoples__arrow:hover {
    transition: .7s ease;
    background-color: #F61067;
    stroke: white;
}

.face {
    position: absolute;
    cursor: pointer;
    z-index: 5;
    display: block;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.first-man {
    right: 130px;
    top: 205px;
    animation-duration: 5s;
}

.third-woman {
    right: 190px;
    top: -13px;
    animation-duration: 4s;
}

.fourth-woman {
    top: 98px;
    right: 165px;
    animation-duration: 3s;
}

.first-woman {
    left: 224px;
    top: 182px;
    animation-duration: 4s;
}

.second-man {
    left: 0px;
    top: 185px;
    animation-duration: 5s;
}

.second-woman {
    right: 279px;
    top: 176px;
    animation-duration: 4s;
}

.third-man {
    left: 56px;
    top: 48px;
    animation-duration: 3s;
}

/*animation for faces */

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateX(15%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateX(15%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.arrow-left {
    float: left;
}

.arrow-right {
    float: right;
}

.peoples__arrow {
    margin-top: -135px;
}

.slide {
    text-align: center;
    color: #30233D;
    width: 754px;
    margin: -146px auto 0;
}

.slide p {
    font-family: Noticia Text;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    margin-top: 110px
}

.slide h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 40px 0 0 0;
}

.slide .rose {
    font-weight: 800;
}

.slide__photo {
    width: 460px;
    height: 460px;
    position: relative;
    margin: 0 auto;
}

.slide__photo img:last-child {
    position: absolute;
    bottom: -47px;
    left: 190px;
}

/*Newsletter*/

.newsletter {
    padding: 159px 0 138px 0;
}

.newsletter h2 {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    color: #30233D;
}

.newsletter h3 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #776C82;
    margin-top: 36px;
}

.newsletter form {
    border-bottom: 3px solid #F4F4ED;
    width: 558px;
    margin: 50px auto 0;
}

.newsletter input {
    border: none;
    outline: none;
    padding: 5px 10px;
    height: 54px;
    width: 327px;
}

.newsletter span {
    display: block;
    margin-right: 25px;
}

.newsletter input::placeholder {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    color: #9B94A3;
}

.newsletter button {
    background: linear-gradient(180deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/form-arrow.svg") no-repeat 94% center;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    height: 54px;
    width: 226px;
}

/*.project-footer*/

.project-footer {
    padding: 126px 0 124px 0;
    background-color: #150433;
    color: #FCFCFC;
}

.project-footer a {
    color: #FCFCFC;
}

.project-footer__item {
    float: left;
}

.project-footer__item p {
    font-size: 16px;
    line-height: 26px;
    max-width: 166px;
    font-weight: normal;
    margin-top: 27px;
}

.project-footer__item h3 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 13px;
    border-bottom: 1px solid #F61067;
    padding-bottom: 13px;
}

.menu-list {
    margin-left: 142px;
}

.menu-list h3 {
    max-width: 56px;
}

.services-list {
    margin-left: 35px;
}

.services-list h3 {
    max-width: 106px;
}

.project-footer__item ul {
    margin-top: 27px;
}

.project-footer__item li {
    display: block;
    margin-top: 9px;
}

.project-footer__item li:first-child {
    margin-top: 0;
}

.project-footer__item li a {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

.contact {
    margin-left: 90px;
}

.contact h3 {
    max-width: 145px;
}

.envelope {
    background: url("../img/envelope.svg") no-repeat left 70%;
    margin-top: 30px;
}

.telephone {
    background: url("../img/little-phone.svg") no-repeat left center;
    margin-top: 18px;
}

.contact a {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
}

.social {
    float: right;
}

.social h3 {
    max-width: 132px;
}

.social ul {
    margin-top: 35px;
}

.social li {
    display: inline-block;
    padding-left: 42px;
}

.social li:first-child {
    padding-left: 0;
}

/*Slider styles*/

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

/*media queries*/

/*1199px breakpoint*/

@media (max-width: 1199px) {
    .wrap {
        width: 960px;
    }

    /*project-header*/
    .menu {
        margin-left: 70px;
    }

    .menu__item {
        padding-left: 40px;
    }

    /*.project-footer*/
    .menu-list, .contact {
        margin-left: 40px;
    }

    /*Services*/
    .description__item {
        max-width: 280px;
        margin: 0 60px 0 0;
        text-align: center;
    }

    /*Intro*/
    .description {
        max-width: 340px;
    }

    .intro {
        padding: 76px 0 49px 0;
    }

    .photocard {
        margin-top: 40px;
    }

    .photocard__card {
        width: 330px;
        padding: 93px 58px 101px 42px;
    }

    .photocard__photo, .shaping__right img {
        width: 360px;
    }

    /*Shaping*/
    .shaping {
        padding: 97px 0 188px 0;
    }

    .description__header h2 {
        font-size: 37px;
    }

    .description__text-collection {
        margin-top: 46px;
    }

    /*Peoples*/
    .second-man {
        top: 236px;
    }

    .first-woman {
        left: 157px;
        top: 245px;
    }

    .second-woman {
        top: 205px;
    }
}

/*991px breakpoint*/

@media (max-width: 991px) {
    .wrap {
        width: 750px;
        padding: 0 20px;
    }

    /*project-header*/
    .navbar__menu, .navbar__telephone {
        margin-left: 25px;
    }

    .menu__item {
        padding-left: 20px;
    }

    .menu__items li:last-child {
        padding-left: 0;
    }

    .navbar__telephone a {
        font-size: 13px;
    }

    .hero__description, .hero__scroll {
        margin-top: 102px;
    }

    .hero__description h1 {
        font-size: 77px;
    }

    .hero__scroll p {
        margin-bottom: 70px;
    }

    .arrow {
        width: 705px;
        padding: 30px 39px 30px 70px;
    }

    /*Intro*/
    .description {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 440px;
    }

    /*Shaping*/
    .shaping {
        background: #30124E;
    }

    .shaping__description {
        margin: 0 auto 50px auto;
    }

    .shaping__right {
        position: relative;
        float: right;
        right: 70px;
    }

    .shaping__apps p {
        color: #fcfcfc;
    }

    /*Services*/
    .description__item {
        max-width: 300px;
        margin: 0 100px 0 0;
    }

    .description__item:nth-child(3) {
        margin: 0 100px 0 0;
    }

    .services__description .description__button {
        margin-top: 0;
    }

    .description__item:nth-child(2n) {
        margin: 0 0 60px 0;
    }

    .description__item:nth-child(n+4) {
        margin-top: 0;
    }

    .slide {
        width: 100%;
    }

    /*Peoples*/
    .slide p {
        max-width: 550px;
        margin: 110px auto 0;
    }

    .newsletter {
        padding: 110px 0 138px 0;
    }

    /*.project-footer*/
    .clear {
        display: block;
    }

    .social {
        float: none;
        margin: 40px auto 0;
        width: 335px;
    }

    .services-list {
        margin-left: 80px;
    }

    .contact {
        margin-left: 60px;
    }
}

/*768px breakpoint*/

@media (max-width: 768px) {
    .wrap {
        width: 570px;
        padding: 0 20px;
    }

    .navbar__logo {
        float: none;
    }

    .navbar__burger {
        margin-top: -16px;
    }

    .arrow, .hero__scroll {
        display: none;
    }

    .hero__description h1 {
        line-height: 70px;
        font-size: 57px;
    }

    .navbar__menu {
        display: none;
    }

    .navbar__telephone {
        float: none;
        margin: 0;
    }

    .scroll {
        display: block;
    }

    .description__item,
    .description__item:nth-child(3),
    .description__item:nth-child(n+4),
    .description__item:nth-child(2n) {
        float: none;
        margin: 30px auto 0 auto;
        max-width: 340px;
        text-align: left;
    }

    .description__button-wrap {
        margin-top: 70px;
    }

    .photocard__card {
        width: 280px;
        padding: 42px 58px 60px 42px;
    }

    .photocard__photo, .shaping__right img {
        width: 300px;
    }


    .photocard__card p {
        font-size: 18px;
    }


    .shaping__right {
        right: 0;
    }

    .newsletter form {
        width: 470px;
    }

    .newsletter input {
        width: 239px;
    }

    .newsletter h2 {
        font-size: 36px;
    }
}